{% extends 'base.html.twig' %}

{% block title %}
    Histoire
{% endblock %}
{% block head %}
    <head>
        <link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}" />
    </head>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block fleche %}
    <div class="histoire_fleche">
        <img class="fleche" src="{{ asset('assets/images/fleche.png')}}" />
    </div>

{% endblock %}
