{% extends 'base.html.twig' %}


{% block head %}
    <head>
        <link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}" />
    </head>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block fleche %}
    <style>
        body {
            margin-top: 250px; 
        }
    </style>
    <div class="histoire_fleche">
        <img class="fleche" src="{{ asset('assets/images/fleche2.png')}}" />
    </div>

{% endblock %}
