.base {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.base .div {
  background-color: #ffffff;
  width: 1440px;
  height: 2092px;
  position: fixed;
}
.accueil {
  position: relative;
}
.accueil .vigne-page-accueil {
  position: absolute;
  width: 100vw; 
  max-width: 1540px;
  height: 381px;
  top: 290px;
  left: -8px;
  z-index: 1; 
}

.accueil .rectangle {
  position: absolute;
  width: 100vw; 
  max-width: 1540px;
  height: 381px;
  top: 290px;
  object-fit: cover;
  left: -8px;
  z-index: 2; 
}

.accueil .histoire {
  position: absolute;
  width: 227px;
  height: 64px;
  top: 518px;
  left: 896px;
  background-color: #426b1f;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
}

.base .text-wrapper {
  position: absolute;
  height: 26px;
  top: 18px;
  left: 76px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.base .header {
  position: absolute;
  width: 100vw; 
  max-width: 1540px;
  height: 135px;
  top: 169px;
  background-color: #d7d7d7;
}

.base .nous-retrouver {
  position: absolute;
  width: 126px;
  height: 48px;
  top: 33px;
  left: 1180px;
  background-color: #426b1f;
  border-radius: 8px;
  overflow: hidden;
}

.base .text-wrapper-2 {
  position: absolute;
  height: 21px;
  top: 12px;
  left: 3px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.base .panier {
  position: absolute;
  width: 126px;
  height: 48px;
  top: 33px;
  left: 1004px;
  background-color: #426b1f;
  border-radius: 8px;
  overflow: hidden;
}

.base .text-wrapper-3 {
  position: absolute;
  height: 21px;
  top: 12px;
  left: 35px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 20.8px;
  white-space: nowrap;
}

.base .rejoignez-nous {
  position: absolute;
  width: 126px;
  height: 48px;
  top: 33px;
  left: 828px;
  background-color: #426b1f;
  border-radius: 8px;
  overflow: hidden;
}

.base .text-wrapper-4 {
  position: absolute;
  height: 21px;
  top: 12px;
  left: 1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.base .nos-vins {
  position: absolute;
  width: 126px;
  height: 48px;
  top: 33px;
  left: 652px;
  background-color: #426b1f;
  border-radius: 8px;
  overflow: hidden;
}

.base .text-wrapper-5 {
  position: absolute;
  height: 21px;
  top: 12px;
  left: 28px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.base .histoire-bouton {
  position: absolute;
  width: 126px;
  height: 48px;
  top: 33px;
  left: 476px;
  background-color: #426b1f;
  border-radius: 8px;
  overflow: hidden;
}

.base .text-wrapper-6 {
  position: absolute;
  height: 21px;
  top: 12px;
  left: 32px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.base .accueil {
  position: absolute;
  width: 126px;
  height: 48px;
  top: 33px;
  left: 300px;
  background-color: #426b1f;
  border-radius: 8px;
  overflow: hidden;
}

.base .text-wrapper-7 {
  position: absolute;
  height: 21px;
  top: 12px;
  left: 34px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}
.base .connection-bouton{
  position: absolute;
  width: 126px;
  height: 48px;
  top: 33px;
  left: 1300px;
  background-color: #426b1f;
  border-radius: 8px;
  overflow: hidden;
}

.base .text-connection {
  position: absolute;
  height: 21px;
  top: 12px;
  left: 34px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.base .logo-wine-celler {
  position: absolute;
  width: 170px;
  height: 237px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.base .text-wrapper-8 {
  position: absolute;
  width: 823px;
  top: 44px;
  left: 309px;
  font-family: "Newsreader-ExtraBold", Helvetica;
  font-weight: 800;
  color: #426b1f;
  font-size: 128px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 128px;
  white-space: nowrap;
}

.fleche {
  position: relative; 
  height: 3500px; 
  width: 100vw; 
  max-width: 3500px;
  min-width: 1500px;
  justify-content: center; 
  align-items: center; 
}

.histoire .fleche {
  max-width: 100%; 
}

.body {
position: relative; 
padding-top: 500px;
}


.body .body-test {
position: relative; 
padding-top: 500px;
}

#slider {
  position: relative;
  width: 1200px;
  margin-top: 800px;
  left: 600px;
  display: flex;
  align-items: center;
}

#precedent,
#suivant {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 100px;
  color: rgba(220, 220, 220, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

#precedent {
  left: -200px;
}

#suivant {
  left: 400px;
}

#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 1;
}

.bouteille {
  display: 1; /* Cache toutes les images */
}

.bouteille.active {
  display: block; /* Affiche uniquement l'image active */
}