{% extends 'base.html.twig' %}

{% block title %}Informations{% endblock %}

{% block body %}
    <h1>Modifier vos Informations</h1>
    <br>
    {{ include('user/_form.html.twig', {'button_label': 'Valider'}) }}

{% endblock %}
